* {
    box-sizing: border-box;
    /*Easier to layout things with box-sizing border-box vs content-box */
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


header {
    padding: 10px;
    background-color: #383E35;
}

h1 {
    display: inline-block;
    font-size: 50px;
    background-color: #736679;
    padding: 5px;
    margin-left: 0;
}

/* Navigation bar */
nav {
    float: right;
    background-color: none;
    margin-right: 30px;
    padding-top: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    color: #736679;
}

a:hover {
    color: ;
}



/* Header image */
.header-background-image {
    background-image: url(../images/grogu-shock.gif);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}



/* Work section */

.work {
    display: flex;
    border: 2px;
}


.project {
    display: flex;
    border-style: solid 2px black;
    padding: 10px;
}

.project header {
    padding: 20px;
    justify-content: center;
    background-color: #736679;
}





/* Media Query - in order from widest to narrowest since using max-width as breakpoint. */
@media screen and (max-width:992px) {
    
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:576px) {

}