* {
    box-sizing: border-box;
    /*Easier to layout things with box-sizing border-box vs content-box */
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


header {
    padding: 10px;
    background-color: #383E35;
}

h1 {
    display: inline-block;
    font-size: 50px;
    background-color: #736679;
    padding: 5px;
    margin-left: 0;
}

/* Navigation bar */
nav {
    float: right;
    background-color: none;
    margin-right: 30px;
    padding-top: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
}

a {
    color: #736679;
}

a:hover {
    color: #C6AA29;
}

/* Profile photo */
.profile-image {
    position: absolute;
    border: #736679 solid 5px;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
}

/* Header image */
.header-background-image {
    background-image: url(../images/grogu-shock.gif);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}

/* Main Content Area */
section {
    margin: 7px;
}

/* About Me */
.about-me {
    display: flex;
    justify-content: right;
    padding-left: 350px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

#about-me {
    text-align: right;
    padding-right: 15px;
    border-right: #736679 solid 2px;
}


.about-me p {
    padding-left: 50px;
}


/* Work section */
.my-work {
    display: flex;
    justify-content: right;
    padding-left: 350px;
}

#my-work {
    text-align: right;
    padding-right: 15px;
    border-right: #736679 solid 2px;
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin: 7px;
}


.project {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: #736679;
    padding: 0px;
    position: relative;
}

.project h3 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    background-color: #736679;
    position:absolute;
    bottom: 0;
    left: 0;
}

.project p {
    text-align: center;
}

#project1pic {
    width: 80%;
}

.project image {
    /* width: 50%; */
    width: 90px;
    height: auto;
    max-width: 576px;
    object-fit: cover;
    flex-wrap: wrap;
}

.project img:hover {
    opacity: 70%;
    cursor: cell;
    color: #736679;
}

/* Contact Section */
.contact-me {
    display: flex;
    position: relative;
    padding-left: 350px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#contact-me {
    text-align: right;
    padding-right: 15px;
    border-right: #736679 solid 2px;
}

.contact-me ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: underline;
    color: black;
}

.contact-me ul li:hover {
    color: #C6AA29;
}





/* Media Query - in order from widest to narrowest since using max-width as breakpoint. */
@media screen and (max-width:576px) {
    .project, .project image{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .project, .project image {
        width: 75%;
    }
}

@media screen and (max-width:992px) {
    .project, .project image {
        width: 50%;
    }
}



