* {
    box-sizing: border-box;
    /*Easier to layout things with box-sizing*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


header {
    display: flex;
    justify-content: flex-start;
    background-color: olive;
}


nav {
    display: flex;
    background-color: none;
}


.work {
    display: flex;
    border: 2px;
}


.project {
    display: flex;
    border-style: solid 2px black;
    padding: 10px;
}


.project header {
    padding: 20px;
    justify-content: center;
}


/* Media Query - in order from widest to narrowest since using max-width as breakpoint. */
@media screen and (max-width:992px) {
    
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:576px) {

}